<section class="page-wrapper">
  <div>
    <h1>Identify Pathologies</h1>
  </div>
  <mat-card class="card">
    <div class="grid-container">
      <div>
        <h3>Upload Images here</h3>
      </div>

      <div *ngFor="let progressInfo of uploadProgress" class="mb-2" class="progress">
        <span>{{ progressInfo.fileName }}</span>
        <mat-progress-bar class="progress-bar" mode="determinate" [value]="progressInfo.value">
        </mat-progress-bar>
        {{ progressInfo.value }}%
      </div>

      <label>
        <input type="file" class="file-input" multiple (change)="onFileSelect($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedImages" (click)="uploadFiles()">
        Upload
      </button>

      <div class="alert alert-light" role="alert">{{ message }}</div>

    </div>
  </mat-card>

  <mat-card class="card">
    <div class="grid-container">
      <div class="card-header">List of Files</div>
      <ul class="list-group list-group-flush" *ngFor="let file of fileDetails | async">
        <li class="list-group-item">
          <a href="{{ file.url }}">{{ file.name }}</a>
        </li>
      </ul>
    </div>
  </mat-card>
</section>
