<section class="page-wrapper">
  <div>
    <h1>Identify Pathologies</h1>
  </div>
  <mat-card class="card">
    <div class="grid-container">
      <div>
        <h3>Upload Images here</h3>
      </div>

      <div *ngFor="let progressInfo of uploadProgress" class="progress">
        <span>{{ progressInfo.fileName }}</span>
        <mat-progress-bar class="progress-bar" mode="determinate" [value]="progressInfo.value">
        </mat-progress-bar>
        {{ progressInfo.value }}%
      </div>

      <label>
        <input type="file" class="file-input" multiple (change)="onFileSelect($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedImages" (click)="uploadFiles()">
        Upload
      </button>

      <div class="alert alert-light" role="alert">{{ message }}</div>

      <button class="btn btn-success" (click)="onPredictClick()">
        Predict
      </button>

    </div>
  </mat-card>

  <!-- <mat-card class="card">
    <div class="grid-container">
      <div class="card-header">List of Files</div>
      <ul class="list-group list-group-flush" *ngFor="let file of fileDetails | async">
        <li class="list-group-item">
          <a href="{{ file.url }}">{{ file.name }}</a>
        </li>
      </ul>
    </div>
  </mat-card> -->

  <mat-card class="card" *ngIf="imageisloaded">
    <div class="grid-container">
      <div class="card-header">List of Images</div>
      <div fxLayout>
        <div *ngFor="let image of uploadedImages">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="break"></mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="image.src" alt="Image Shadow">
            <mat-card-content>
              <p class="break">Name : {{image.name}}</p>
              <p class="break">Type : {{image.type}}</p>
              <p class="break">Size : {{image.size}}</p>
            </mat-card-content>
          </mat-card>

        </div>
      </div>

    </div>
  </mat-card>

</section>
