.one-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/one.png');
  background-size: cover;
}

.two-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/two.jpg');
  background-size: cover;
}

.three-header-image {
  background-image: url('F:/FYP/gi-tract-pathology-detection/src/assets/three2.png');
  background-size: cover;
}
